<div class="content">
  <div class="container">
    <div class="row" *ngFor="let post of posts | async">
      <div class="post">
        <h4 class="post-title">{{post.title}}</h4>
        <p [innerHTML]=" post.picUrl"></p>
        <p [innerHTML]="post.content"></p>
        <hr>
      </div>
      <div>
        <a type="button" (click)="deleteSinglePost(post.id)" class="delete btn btn-default">Delete</a>
      </div>
      <hr>
    </div>
    <div *ngIf="authService.isAdmin()">
      <p>Total user number : {{ adminResponse.userCount}}</p>
      <p>Total post number : {{ adminResponse.postCount }}</p>
    </div>
  </div>
</div>
